@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
@font-face {
  font-family: "FuturaBold";
  src: url("../fonts/Futura/FuturaPTBold.otf");
  font-family: "Futura";
  src: url("../fonts/Futura/FuturaPTMedium.otf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#landing-page {
  background: url(../img/background.png) no-repeat center;
  background-size: cover;
  height: calc(100vh - 58px);
  filter: contrast(130%);
}

#gift-card{
  background: url(../img/bg-carte-cadeau.png) no-repeat center;
  background-size: cover;
  height: 70vh;
  filter: contrast(130%);
  position: relative;
  z-index: 10;
}
#gift-card:after{
  position: absolute;
  content:"";
  height:100%;
  width:100%;
  top:0;
  left:0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%,rgba(0, 0, 0, 0.6) 35%,rgba(0, 0, 0, 0.7) 100%);
}

#gift-card-content{
  z-index: 1000;
}

h1, h2, h3, h4, p {
  font-family: "Futura";
}

img {
  height: 20%;
}

#sec {
  background: #FFA65D;
}
